@model BlogProject.Models.CurrentPostModel
@{
    ViewBag.Title = "CurrentPost";
}

<div class="current-post">
    <h3>@Model.Post.Title<span>@Model.Post.PostTime.ToShortDateString()</span></h3>
    <p>@Model.Post.PostText</p>
    <div class="like">
        @using (Html.BeginForm("PutLike", "Home", FormMethod.Post))
        { 
            @Html.Hidden("postId", Model.Post.PostId)
            @Html.Hidden("returnUrl", Request.RawUrl.ToString());
            <div class="likes-button"><input type="submit" value=""/></div>
        } 
        <p>@Model.Likes.Count(u => u.PostID == Model.Post.PostId)</p>
    </div>
    <hr />
    <div class="comments-title">Comments</div>
    <div class="post-bottom">
        <div class="comments">
        @Html.Partial("_CommentPartial")
        </div>
        <div class="send-comments">
        @using (Html.BeginForm("AddComment", "Home", FormMethod.Post))
        {
            <div class="comment">
            <div class="comment-editor">
                @Html.TextAreaFor(m => m.UserComment.CommentText, 5, 94, null)
                @Html.Hidden("post", Model.Post.PostId)
            </div>
            <p>                
            Comments can be posted only @Html.ActionLink("registred", "Register", "Account") users!!!<input type="submit" value="Send Comment" />
            </p>
            </div>
        }
        </div>
    </div>
</div>