@model BlogProject.Models.UserModel
@{
    ViewBag.Title = "Information";
}
<link rel="stylesheet" href="../../Content/css/info.css">

<table class="user-inform">
        <tr>
            <th>First Name: </th>
            <th>@Model.User.FirstName</th>
        </tr>
        <tr>
            <th>Last Name: </th>
            <th>@Model.User.LastName</th>
        </tr>
        <tr>
            <th>Full age: </th>
            <th>@(Model.User.Age == 0 ? "Unknown" : Model.User.Age.ToString())</th>
        </tr>
        <tr>
            <th>Fone: </th>
            <th>@(Model.User.Fone == null ? "Unknown" : Model.User.Fone)</th>
        </tr>
        <tr>
            <th>Mail: </th>
            <th>@Model.User.Email</th>
        </tr>
        <tr>
            <th>Skype: </th>
            <th>@(Model.User.Skype == null ? "Unknown" : Model.User.Skype)</th>
        </tr>
</table>
@if (User.Identity.IsAuthenticated && User.Identity.Name == ViewContext.RouteData.Values["username"].ToString())
{
    @Html.ActionLink("Change user information", "ChangeInformation", "Home", new { username = User.Identity.Name }, null)
}