@model BlogProject.Models.UserModel
<link rel="stylesheet" href="../../Content/css/info.css">
<table class="user-inform">
        <tr>
            <th>First Name: </th>
            <th>@Model.FirstName</th>
        </tr>
        <tr>
            <th>Last Name: </th>
            <th>@Model.LastName</th>
        </tr>
        <tr>
            <th>Age: </th>
            <th>@(Model.Age == null ? "Unknown" : Model.Age.ToString())</th>
        </tr>
        <tr>
            <th>Fone: </th>
            <th>@(Model.Fone == null ? "Unknown" : Model.Fone)</th>
        </tr>
        <tr>
            <th>Mail: </th>
            <th>@Model.Email</th>
        </tr>
        <tr>
            <th>Skype: </th>
            <th>@(Model.Skype == null ? "Unknown" : Model.Skype)</th>
        </tr>
</table>