@model BlogProject.Models.UserModel
@{
    ViewBag.Title = "Information";
}
<link rel="stylesheet" href="../../Content/css/info.css">

<table class="user-inform">
        <tr>
            <th>First Name: </th>
            <th>@Model.user.FirstName</th>
        </tr>
        <tr>
            <th>Last Name: </th>
            <th>@Model.user.LastName</th>
        </tr>
        <tr>
            <th>Full age: </th>
            <th>@(Model.user.Age == 0 ? "Unknown" : Model.user.Age.ToString())</th>
        </tr>
        <tr>
            <th>Fone: </th>
            <th>@(Model.user.Fone == null ? "Unknown" : Model.user.Fone)</th>
        </tr>
        <tr>
            <th>Mail: </th>
            <th>@Model.user.Email</th>
        </tr>
        <tr>
            <th>Skype: </th>
            <th>@(Model.user.Skype == null ? "Unknown" : Model.user.Skype)</th>
        </tr>
</table>
@if (User.Identity.IsAuthenticated && User.Identity.Name == ViewContext.RouteData.Values["username"].ToString())
{
    @Html.ActionLink("Change user information", "ChangeInformation", "Home", new { username = User.Identity.Name }, null)
}