@model BlogProject.Models.NewsViewModel
@{
    if (!User.Identity.IsAuthenticated) {Layout = "~/Views/Shared/AccountLayout.cshtml";}
}
@{
    ViewBag.Title = "News";
}

<link rel="stylesheet" href="../../Content/css/news.css">

<div class="post">
    @foreach (var p in Model.PostView.OrderByDescending(i => i.PostTime).Take(10)) 
    {
        <div class="user-info">
            <div class="avatar">
                @if ((Model.UserView.First(u =>u.ID == p.UserId).ImageData) != null)
                {
                    <img width="165" height="200" src="@Url.Action("GetImage", "Home", new { id = p.UserId })" />
                }
                else {<img width="165" height="200" src="../../Content/images/guest_user.png" />}
            </div>
            <div class="user-first-last-name">
                 @Html.ActionLink(Model.UserView.First(u =>u.ID == p.UserId).FirstName + " " +Model.UserView.First(u =>u.ID == p.UserId).LastName, 
                                                        "Information", 
                                                        "Home", 
                                                        new { username =  Model.UserView.First(u =>u.ID == p.UserId).Username}, 
                                                        null)
            </div>
        </div>
        <div class="content">
         <h3>@Html.ActionLink(p.Title, "CurrentPost", "Home", new { postId = p.PostId }, null)<span>@p.PostTime.ToShortDateString()</span></h3>
                @if (p.PostText.Length <= 700)
                {
                    <p>@p.PostText</p>
                }
                else
                {
                    <p>@p.PostText.Substring(0, 700) ...</p>  
                }            
        </div>
        <div class="like">
                    <img src="../../Content/images/like.png"> @p.Like.ToString()
                    <img src="../../Content/images/dislike.png"> @p.Dislike.ToString()
                </div>
        <hr />
    }
</div>