@model BlogProject.Models.PostsViewModel
@{
    ViewBag.Title = "RecentPosts";
}


<div class="post">
    @foreach (var p in Model.PostView) 
    {
         <h3>@p.Title<span>@p.PostTime.ToShortDateString()</span></h3>
                <p>@p.PostText</p>
                <div class="like">
                    <img src="../../Content/images/like.png"> @p.Like.ToString()
                    <img src="../../Content/images/dislike.png"> @p.Dislike.ToString()
                </div>
                <hr/>
    }
    </div>

