@model BlogProject.Models.PostsViewModel
@{
    ViewBag.Title = "RecentPosts";
}

@if (User.Identity.IsAuthenticated && User.Identity.Name == ViewContext.RouteData.Values["username"].ToString()) 
{ 
    <div class="add-post">
        @Html.ActionLink("Create new post",
                        "AddPost", 
                        "Home", 
                        new { username = ViewContext.RouteData.Values["username"].ToString()}, null)
    </div>
}
<div class="post">
    @foreach (var p in Model.PostView.OrderByDescending(p => p.PostTime).Take(3)) 
    {
         <h3>@Html.ActionLink(p.Title, "CurrentPost", "Home", new { postId = p.PostId }, null)<span>@p.PostTime.ToShortDateString()</span></h3>
                <p>@p.PostText</p>
                <div class="like">
                    <img src="../../Content/images/like.png"> @p.Like.ToString()
                    <img src="../../Content/images/dislike.png"> @p.Dislike.ToString()
                </div>
                <hr/>
    }
    </div>

