<ul>
    <li @CurrentItem("News")>@Html.ActionLink("News", "News", "Home", new { username = ViewBag.Person.Username }, null)</li>
    <li @CurrentItem("RecentPosts")>@Html.ActionLink("Recent posts", "RecentPosts", "Home", new { username = ViewBag.Person.Username }, null)</li>
    <li @CurrentItem("Arhive")>@Html.ActionLink("Arhive", "Arhive", "Home", new { username = ViewBag.Person.Username }, null)</li>
    <li @CurrentItem("Information")>@Html.ActionLink("Information", "Information", "Home", new { username = ViewBag.Person.Username }, null)</li>
    @helper CurrentItem(String item)
    {
        if (item == ViewContext.RouteData.Values["action"].ToString())
        {
            @:class="selected"
        }
    }
</ul>
<script type="text/javascript">
    $(".menu").click(function ()
    {
        $(this).parent.addClass("selected");
    });
</script>